.file {
  border: 1px solid var(--border--primary);
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: grid;
  gap: 13px;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.label {
  font-size: 13px;
}

.label strong {
  font-weight: 800;
}

.dropzone {
  border: 1px dashed var(--border--primary);
  border-radius: 0.25rem;
  box-sizing: border-box;
  display: grid;
  gap: 1.125rem;
  justify-content: center;
  padding: 1.875rem;
  transition: all .25s ease;
  width: 100%;
  -webkit-transition: all .25s ease;
}

.dropzone:hover {
  background-color: #1b3e7008;
  border-color: #1b3e7024;
  cursor: pointer;
}

.icon {
  height: 1.25rem;
  stroke: var(--color--warning);
  width: 100%;
}

.button {
  align-items: center;
  border-radius: 0.25rem;
  display: grid;
  height: 2rem;
  justify-self: center;
  width: 12.625rem;
}
