.dropdownFieldset {
  align-items: center;
  border: none;
  display: grid;
  gap: 0.75rem;
  grid-template-columns: 9fr 10fr 1fr;
  justify-content: start;
  margin: 0;
  padding: 0.5rem 0;
}

.dropdownFieldset label {
  font-weight: 400;
  padding-bottom: 0;
}
