.card {
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, .02);
  box-sizing: border-box;
  color: var(--color--primary);
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  padding: 2rem;
  height: 80vh;
  width: 96vh;
}

.header {
  display: flex;
  justify-content: center;
}

.header h1 {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 1rem;
  width: fit-content;
}

.footer {
  display: grid;
  justify-content: center;
}

.formLeft {}

.formRight {}

.loadingWrapper {}

.loadingFill {}
