.toggle {
  align-items: center;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, max-content);
}

.text {
  align-items: center;
  border-left: 1px solid var(--color--primary);
  display: grid;
  font-size: 13px;
  gap: 0.25rem;
  grid-template-columns: repeat(2, max-content);
  padding: 0.125rem 0.5rem;
}

.icon {
  font-size: 1.25rem;
}
